@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Yantramanav');
{
	display: block;
	vertical-align: top
}


header{
	text-align:center;
	font-family: 'Lobster', cursive;
	float: left;
    width: 100%;
    margin-bottom:10px;
}

body{
	font-family: 'Yantramanav', sans-serif;
	
	width: 80%;
    margin: 4%;
	
}

legend{
	font-size:24px;
}

header img{
	height: 50px;
}


input[type="radio"] {
	display: inline;
}


label::after {
	content:"";
	display: block;
}

head {
	display: none;
}
input:invalid {
	background: #fe8181;
}
input:valid {
	background: white;
}
input:required {
	background: #c0c0c0;
}

svg, figure, button, option {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#main{
	
	float:left;
	width:45%;
	margin-right:6%;
}

aside{
	float:left;;
	
	width:45%;
	
	
}

#main fieldset, aside fieldset {
	margin-bottom:15px;
	
}



button{ 
	width: 100px;
    height: 30px;
    display:block;
	margin:auto;
}



#toppings label{
	display:inline;
}

#container label{
	display:inline;
}

#address {
	line-height: 1.5em;
}
#address input{
	float:right;
}
select, number, checkbox, radio {
	display:block;
	
}

