@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Merriweather');
body {
	width:824px;
	font-family: 'Merriweather', serif;
	
}

div {
	border:solid black;
	
	width:95px;
	height:95px;
	float:left;
	padding:1px;
	text-align: center;	
	overflow: auto;
}

box {
	display:none;
	width:30px;
	height:30px;
	padding:1px;
	background-color:blue;
}
